p#nav {
  display: none;
}
body.login div#login form#loginform p label {display:none;}
body.login div#login form#loginform p.forgetmenot {display:none;}
body.login div#login form#loginform p.submit {display:none;}
body.login div#login form#loginform h3.galogin-or {display:none;}
body.login div#login form#loginform {padding-bottom:10px;}